.Logo_Kaiser {
	max-width: 70px;
}

html {
	scroll-behavior: smooth; /* Suaviza el desplazamiento */
}

.logo_brand {
	max-width: 50px;
}
.navbar {
	/* background: linear-gradient(270deg, #f78573, #9721da); */
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
