.Logo_Kaiser {
	max-width: 70px;
}

html {
	scroll-behavior: smooth; /* Suaviza el desplazamiento */
}

.logo_brand {
	max-width: 30px;
}
.navbar {
	/* background: rgba(0, 0, 0, 0.212); */
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
