.texto-kaiser {
	background: linear-gradient(270deg, #f78573, #9721da);
	background-size: 400% 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradientAnimation 5s infinite !important;
}
/* .texto-kaiser:hover{
  background-image: linear-gradient(90deg, rgb(114, 247, 229) 0%, rgba(151, 33, 218, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: gradientAnimation 5s infinite !important;
} */
@-webkit-keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.hr-container {
	position: relative;
	height: 2px;
	background-color: transparent;
}

.gradient-line {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	height: 100%;
	background-image: linear-gradient(90deg, rgba(247, 132, 114, 1) 0%, rgba(151, 33, 218, 1) 100%);
	border: none;
}

.hero {
	background-image: url("https://images.unsplash.com/photo-1638272181967-7d3772a91265?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* background-attachment: fixed; */
}
.side-shadows {
	/* añadir so */
	box-shadow: inset -2000px 0px 10px -10px #151a20, /* Sombra izquierda */ inset 2000px 0px 10px -10px #151a20, /* Sombra derecha */ inset 0px -2000px 10px -10px #151a20, /* Sombra superior */ inset 0px 2000px 10px -10px #151a20;
	/* Sombra inferior */
}
